* {
	margin: 0;
	padding: 0;
}

@media (max-width: 900px) {
	.fas {
		display: none;
	}

	.information {
		font-size: 15px;
	}

	.card-container form {
		padding: 15px;
		width: 350px;
	}

	h1, h2, h3, h4, h5 {
		font-size: 15px;
		line-height: 15px;
	}

	form input{
		height: 30px;
		width: 350px;
	}
	
	form input[type=submit] {
		margin-top: 5px;
		height: 55px;
		font-size: 25px;
		font-weight: 600;
	}
	
	form input[type=submit]:hover {
		font-size: 30px;
	}
	
}

@media (max-height: 768px) {
	.imagem-logo {
		height: 130px;
		max-width: 400px;
	}
}

.background {
	background-image: url(../assets/img/bg4.png);
	background-attachment: fixed;
	background-size: cover;
}

.section-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
}

.imagem-logo {
	width: 550px;
}	

.card-container {
	background: rgba(240, 245, 245, 0);
	padding: 25px;
	max-width: 450px;
}

.information {
	text-align: center;
	line-height: 40px;
	padding: 30px;
	text-shadow: black;
	color: #fff;
	flex-direction: column;
}

.information i {
	font-size: 15px;
	font-weight: bolder;
	color: darkgreen;
}

.small-info {
	text-align: center;
	font-size: 10px;
	color: #fff;
}

.developer{
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}


html {
	font-family: 'Noto Sans JP', sans-serif;
}

a {
	color: inherit;
}

h1, h2, h3, h4, h5 {
	display:inline-block;
	vertical-align:middle;
}

form {
	display: grid;
}

input {
	width: 400px;
	height: 40px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 15px;
	background:  #f0f5f5;
	color: #000;
	border: none;
}

input[type=submit] {
	margin-top: 15px;
	height: 65px;
	background: darkgreen;
	font-size: 25px;
	font-weight: 800;
	color: #fff;
	transition: font-size 1s;
}

input[type=submit]:hover {
	font-size: 35px;
}
